<!-- Jorge Juarez - Project 0: Scrabble Game -->
<!-- Hello!, This is the main html page for my game. -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Scrabble Game</title>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" 
    integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">     
    <style>
        body{
            font-family: 'Lato', sans-serif;
        }
        .player-headers{
            font-size: 16pt;
            text-align: center;
        }
        #announce-span{
            text-align:center;
        }
        #play-1{
            float: left;
        }
        #play-2{
            float:left;
        }
        .player-table{
            font-size:24px;
        }
        #scrabble-table{
            text-align:center;
        }
    
    </style> 
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand bg-dark">
            <a href="" class="navbar-brand text-light"> Scrabble </a>
            <!-- In order to make more buttons on navbar, we need an ul tag with .navbar-nav class -->
            <ul class="navbar-nav">
                <!-- To actually create the button, we need li.nav-item and an a-tag nested a.nav-link inside -->
                <li class="nav-item">
                    <a href="https://github.com/jjuarez2902" class="nav-link text-light"> Github </a>
                </li> 
            </ul>
        </nav>
    </div>
    <br> 
    <div class="container-fluid jumbotron col-md-11">
        <div class="container">
            <span id = "announce-span"> This is some text. </span>
        </div>
        <hr>
        <div class="container " id = "table-div" >
            <span id = "tspan">
                <table class="smalltable table-bordered" id = "scrabble-table" style = "float:left">
                    <thead class="thead thead-dark" id = "scrabble-table-head">
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </span>
            <span>
                <table class = "smalltable table-bordered offset-1" id = "menu-table" style = "float:left" >
                    <thead></thead>
                    <tbody>
                        <tr id = "player1-tiles">
                            <!--
                            <td id ="td1"> 1</td>
                            <td> 2</td>
                            <td> 3</td>
                            <td> 4 </td>
                            <td> 5</td>
                            <td> 6</td>
                            <td> 7 </td>
                            -->
                        </tr>
                        <tr>
                            <td>
                                <button class="btn"> Button </button>
                            </td>
                            <td>
                                <button class="btn"> Button </button>
                            </td>
                            <td>
                                <button class="btn"> Button </button>
                            </td>
                        </tr>
                        <tr id = "player2-tiles">
                            <!--
                            <td> 8 </td>
                            <td> 9</td>
                            <td> 10</td>
                            <td> 11 </td>
                            <td> 12 </td>
                            <td> 13</td>
                            <td> 14 </td>
                            -->
                        </tr>
                    
                    </tbody>
                </table>
            </span>
        </div>
        <br> <br> <br> <br> <br> <br> <br> <br>
        <br> <br> <br> <br> <br> <br> <br> <br>
    </div>
<!--
        <div class="container row">
            <div class="col-md-5 bg-primary player-headers"> 
                Player 1 

            </div>
            <div class="col-md-5 offset-2 bg-success player-headers"> 
                Player 2 

            </div>
        </div>
        <br> <br> 
        <div class="container ">  
            <button class="btn btn-primary"> Button </button>
            <button class="btn btn-primary offset-3"> Button </button>
            <button class = "btn btn-primary offset-2"> Button </button>
            <button class="btn btn-primary offset-2"> Button </button>
        </div>
        <br> <br> 
        
        <div class="container">
            <table class="smalltable table-bordered player-table offset-1" id = "play-1">
                <thead class="thead">
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td>6</td>
                        <td>7</td>
                    </tr>
                </tbody>
            </table>

            <table class="smalltable table-bordered player-table offset-6" id = "play-2">
                <thead class="thead">
                </thead>
                <tbody>
                    <tr>
                        <td>8</td>
                        <td>9</td>
                        <td>10</td>
                        <td>11</td>
                        <td>12</td>
                        <td>13</td>
                        <td>14</td>
                    </tr>
                </tbody>
            </table>

        </div>
    -->
    </div>
    <script src="../js/Point.js"> </script>
    <script src="../js/Tile.js"></script>
    <script src="../js/Player.js"></script>
    <script src="../js/Cell.js"></script>
    <script src="../js/SpecialCells.js."></script>
    <script src = "../js/Game.js"> </script>
    <script src = "../js/index.js"></script>
</body>
</html>