<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Scrabble Game</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" 
    integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">
        
    <link rel = "stylesheet" href = "../css/index.css">

</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand bg-dark">
            <a href="" class="navbar-brand text-light"> Revature </a>
            <!-- In order to make more buttons on navbar, we need an ul tag with .navbar-nav class -->
            <ul class="navbar-nav">
                <!-- To actually create the button, we need li.nav-item and an a-tag nested a.nav-link inside -->
                <li class="nav-item">
                    <a href="https://github.com/jjuarez2902" class="nav-link text-light"> Github </a>
                </li> 
            </ul>
        </nav>
    </div>
    <br>
    <div class="container col-md-8">
        <table class="table table-bordered table-sm" id = "scrabble-table" >
            <thead class="thead">
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>

    <script src = "../js/pointclass.js"> </script>
    <script src = "../js/specialcells.js"></script>
    <script src = "../js/index.js"></script>
</body>
</html>